@import 'default.less';
@import 'loading.less';
body{
  margin: 0;
  overflow: hidden;
}
ul,li{
  list-style: none;
}
input{
  outline: none;
}
.container{
  flex: 1;
  background:rgba(255,255,255,1);
  box-shadow:0 20px 20px 20px rgba(69, 165, 255, 0.12);
  border-radius:8px;
  filter:blur(0px);
  margin: 12px;
  overflow: hidden;
}
